<h1> My Movies!  </h1>
<h2> Index View </h2>
<% if logged_in?  %>
  <h3>Logged in user:  <%= current_user.email %></h3>
<% end %>
<% @movies.each do |m|  %> 

  <%= m.id %> -  <a href="/movies/<%=m.id%>"><%=m.title %></a> <br>
<% end %>