<!DOCTYPE html>
<html>
    <head>
         <title>Flatiron Movies</title>
         <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <a href="/movies">All Movies</a> |
            <a href="/movies/new">Add a new movie</a>
        </div>
        <h1> Flatiron Movies!!!! </h1>
        <%= yield %>
    </body>
</html>