<!DOCTYPE html>
<html>
    <head>
         <title>Flatiron Movies</title>
         <meta charset="UTF-8">
    </head>
    <body>
        <h1> Flatiron Movies!!!! </h1>
        <%= yield %>
    </body>
</html>